<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>html</title>
</head>
<style>
    .my_style{
        background-color: rgb(132, 84, 221);
    }
    h1{
        color:brown;

    }
</style>
<body>
    <h1>Hola, esto es HTML</h1>
    <h1>Esto es otro h1</h1>
    <h4 style="color: blue;background-color: aliceblue;text-align: center;">Esto es un saludo en h4</h4>
    <p class="my_style">Esto es un parrafo en html</p>
    <button>Presiona</button>
    <a href="/segunda" target="_blank">Ir a segunda</a>

    <p>{{variable}}</p>
    <p>{{nombre}}</p>


</body>
</html>